apps/obj/
si/
PRJ/
apps/ac690x_app.depend
apps/ac690x_app.layout

apps/download/ac690x/post_build/ac690x_NORMAL.or32
apps/download/ac690x/post_build/ac690x.or32
apps/download/ac690x/post_build/jl_flash_cfg.bin
apps/download/ac690x/post_build/uboot.boot
apps/download/ac690x/post_build/map.txt
apps/download/ac690x/post_build/sdram.app
apps/download/ac690x/post_build/jl_690x.bfu
apps/download/ac690x/post_build/jl_690x.bin
apps/download/ac690x/post_build/ver.bin
apps/download/ac690x/post_build/user.app.17
apps/download/ac690x/post_build/UpdatePackage
apps/download/ac690x/post_build/bt_cfg.bin

!*.c
!*.h